{% extends "dg_application/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <small class="text-muted">Profile created: {{ user.profile.date_created|date:"d F, Y" }}</small>
                </div>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ user.profile.bio }}</p>
                <a class="mr-2" href="{% url 'user-posts' user.username %}">See all posts of {{ user.username }}</a>
            </div>
        </div>
    </div>
{% endblock content %}